.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.form-container {
    width: 300px;
    padding: 16px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.form-container div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin-bottom: 10px;
}

.form-container label {
    margin-right: 10px;
    color: black;
}

.form-container input {
    
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-container button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #0056b3;
}

.showData {
    display: block;
    margin-top: 20px;
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 4px;
}

.showData p {
    margin: 0;
}
